{% extends 'base.html.twig' %}

{% block title %}
  Error 404
{% endblock %}

{% block body %}
  <main class="main">
    <div class="page-content">
      <section class="error-section d-flex flex-column justify-content-center align-items-center text-center pl-3 pr-3">
        <h1 class="mb-2 ls-m">Erreur 404</h1>
        <img src="{{ asset('theme/images/subpages/404.png') }}" alt="error 404" width="609" height="131" />
        <h4 class="mt-7 mb-0 ls-m text-uppercase">Oups. ! Cette page est introuvable.</h4>
        <p class="text-grey font-primary ls-m">Il semble que rien n'ait été trouvé à cet endroit.</p>
        <a href="/" class="btn btn-primary btn-rounded mb-4">Aller à l'acccueil</a>
      </section>
    </div>
  </main>
{% endblock %}
