<footer class="">
	<div class="footer footer-main footer-bottom">
		<div class="footer-left">
			<figure class="payment">
				<img src="{{ asset('theme/images/payment.png') }}" alt="payment" width="159" height="29"/>
			</figure>
		</div>
		<div class="footer-center">
			<p class="copyright">Vazimarket &copie;
				<script>
					document.write(new Date().getFullYear())
				</script>. Tous droits réservés</p>
		</div>
		<div class="footer-right">
			<div class="social-links">
				<a href="#" title="social-link" class="social-link social-facebook fab fa-facebook-f"></a>
				<a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
				<a href="#" title="social-link" class="social-link social-linkedin fab fa-linkedin-in"></a>
			</div>
		</div>
	</div>
</footer>
