<div class="header-middle">
	<div class="container">
		<div class="header-left mr-4">
			<a href="#" class="mobile-menu-toggle">
				<i class="d-icon-bars2"></i>
			</a>
			<a href="/" class="logo">
				<img src="{{ asset('theme/images/demos/demo-market2/logo.png') }}" alt="logo" width="153" height="44"/>
			</a>
			<!-- End Logo -->
		</div>
	</div>
</div>
