<div class="header-search hs-expanded">
	<form action="#" class="input-wrapper">
	<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Recherche..." required/>
		<button class="btn btn-search" type="submit" title="submit-button">
			<i class="d-icon-search min-mobile"></i>
		</button>
	</form>
</div>
