<section class="grey-section pt-10 pb-10">
	<div class="container mt-6">

		{% include "components/home/section-3-clothing-apparel.html.twig" %}

		{% include "components/home/section-3-final-reduction-electro.html.twig" %}

		{% include "components/home/section-3-gifts-gadgets.html.twig" %}

		{% include "components/home/section-3-featured-brands.html.twig" %}

		{% include "components/home/section-3-selected-products.html.twig" %}

		{% include "components/home/section-3-recently-view-products.html.twig" %}

	</div>
</section>
