<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Rediriger toutes les requêtes HTTP vers HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Ignorer les fichiers et les répertoires existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger toutes les requêtes vers l'index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
