<div class="page-title-box">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-title">
					<h4>Dashboard</h4>
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item">
							<a href="javascript: void(0);">Vazimarket</a>
						</li>
						<li class="breadcrumb-item">
							<a href="javascript : void(0);">Tableau de bord</a>
						</li>
						<li class="breadcrumb-item active">Tableau de bord</li>
					</ol>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="float-end d-none d-sm-block">
					<a href="" class="btn btn-success">Liste des produits</a>
				</div>
			</div>
		</div>
	</div>
</div>
