/* 
Demo 27 Variables
*/
@include set(
	(
		base: (
			_container-width: 1220px,
			title: (
				margin-bottom: 1.9rem,
				letter-spacing: 0,
				border: (
					width: 1px,
					color: #e1e1e1
				),
				_grey-section-bg: #f7f8fc
			),
		),
		header: (
			_link-active-color: #fff,
			top: (
				background: $primary-color,
				color: #ccc,
				border-bottom: 1px solid rgba(255,255,255,.1)
			),
			middle: (
				padding-top: 2.8rem,
				padding-bottom: 2.8rem,
				font-weight: 600,
				color: #fff,
				background: $primary-color,
				logo: (
					margin-right: 0,
					margin-bottom: 0
				),
				login: (
					icon: (
						font-size: 2.7rem,
						margin: 0
					)
				)
			),
			bottom: (
				padding-top: 0.5rem,
				padding-bottom: 0.5rem,
				border-bottom: 1px solid #e1e1e1,
				font-size: 1.4rem
			),
			call: (
				icon: (
					font-size: 3rem,
					margin: 0
				)
			),
			cart: (
				label: (
					color: #fff,
					price: (
						color: inherit
					),
				),
				count: (
					color: $primary-color,
					hover: (
						color: $primary-color
					)
				),
				icon: (
					color: inherit,
					hover: (
						border-color: #fff,
						background: $white-color
					)
				)
			)
		),
		menu: (
            ancestor: (
                _gap: 2.8rem,
                font-family: $font-family,
                font-size: 1.4rem,
                font-weight: 600,
                color: #022222,
            )
		),
		category-menu: (
			ancestor: (
				_split-line: 1px solid #f0f0f0
			)
		),
		post: (
            title: (
                text-transform: none,
                font-size: 1.8rem,
                font-weight: 700,
                letter-spacing: -.025em,
            ),
            calendar: (
                background: rgba(#fff, .9),
                color: #222,
                border: 0,
			),
			content: (
				line-height: 1.72
			)
        ),
		product: (
			price: (
				color: $primary-color
			),
			name: (
				color: #444
			)
		),
		footer: (
			letter-spacing: normal,
			middle: (
				padding: 86px 0 33px
			),
			bottom: (
				padding: 2.7rem 0 2.8rem
			),
			copyright: (
				color: #666,
				font-weight: 400
			)
		)
	)
)