//element animation
.element-animation {
    .element-animate  {
        border-bottom: 1px solid $border-color;
        padding: 8rem 0;    
    }
    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1em;
        margin: 0;
    }
}