{% extends 'dashboard/_base.html.twig' %}

{% block dashboardPageContent %}

	{% include "components/dashboard/page-title-box.html.twig" %}

	<div class="container-fluid">

		{% include "components/dashboard/page-content-wrapper.html.twig" %}

	</div>

{% endblock %}
